@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

:root {
    --main: #171A43;
    --main-rgb: 23, 26, 67;
    --second: #222963;
    --second2: #1D2353;
    --hover: lightgray;
    --font-size-normale: 20px;
    --red: #f67171;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

body {
    background: var(--main);
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
}

.wrapper {
    text-align: center;
    width: 1350px;
    margin: 0 auto;
    color: white;
}
/*         */
/* NAV BAR */
/*         */
.dropbtn {
    font-size: var(--font-size-normale);
    border: none;
    background: none;
    color: lightgray;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    z-index: 1;
    background: rgba(var(--main-rgb), 0.85);
}

.dropdown:hover .dropdown-content {display: block;}

.cat-game {
    padding: 0 16px;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cat-game-info > a {
    color: var(--hover);
    text-decoration: none;
    font-size: var(--font-size-normale);
}

.nav-active-2 {
    border-bottom: var(--red) solid 3px;
}

.nav-active a {
    color: var(--red);
}

.cat-game a {
    text-decoration: none;
    display: inline;
}

.cat-game-img > img {
    height: 40px;
}

.dropdown-cat {
    display: flex;
    flex-direction: column;
}

.cat-game-info {
    padding: 10px;
}

nav {
    width: 100%;
    background: rgba(var(--main-rgb), 0.85);
    position: fixed;
    z-index: 9999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarleft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarleft img {
    width: 50px;
}

.navbarright > a {
    color: var(--hover);
    text-decoration: none;
    font-size: var(--font-size-normale);
}

.navbar a:hover {
    color: var(--red);
}

.navbarright a:hover {
    color: white;
    text-decoration: none;
    font-size: var(--font-size-normale);
}

.navbarleft h1 span {
    color: var(--red);
}

.navbarleft h1 span:hover {
    color: var(--hover);
}

.navbarright > a {
    margin: 0 15px;
}

.navbarright > button {
    padding: 10px 15px;
    background: var(--red);
    border: none;
    color: white;
}

.buttons > button {
    margin: 0 10px;
}

/*                   */
/* MINECRAFT SECTION */
/*                   */
.stn-minecraft {
    background: url(../img/minecraft.jpg) no-repeat center;
    background-size: 100%;
    height: 850px;
}

.stn-discord {
    background: url(../img/discord.jpg) no-repeat center;
    background-size: 100%;
    height: 850px;
}

.stn-serverspecs {
    background: url(../img/serverspecs.jpg) no-repeat center;
    background-size: 100%;
    height: 850px;
}

.flex-box {
    display: flex;
    padding: 0 0 0 150px;
    align-items: center;
    height: 850px;
}

.text-box {
    color: white;
    width: 420px;
    text-align: left;
}

.text-box h2 {
    font-size: 35px;
}

.text-box p {
    font-size: var(--font-size-normale);
    margin: 5px;
}

.text-box span {
    color: var(--red);
}

/*                    */
/* GAME PANEL SECTION */
/*                    */
.panel-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0;
    text-align: start;
}

.panel-box-img img {
    width: 750px;
}

.panel-box-text h4 {
    font-size: 40px;
}

.panel-box-text li {
    list-style: none;
    font-size: var(--font-size-normale);
}

.panel-box-text li span{
    color: var(--red);
}

.panel-box-text p {
    margin: 10px 0;
    font-size: var(--font-size-normale);
}

/*          */
/* SECTIONS */
/*          */
.space {
    margin-top: 150px;
}

.space2 {
    margin: 25px;
}

.stn-game-panel {
    background: var(--second);
}

/*         */
/* BUTTONS */
/*         */
.text-box a {
    margin: 100px 0;
}

.btn {
    background: var(--red);
    position: relative;
    color: white;
    text-decoration: none;
    border: none;
    margin: 10px 0;
    padding: 15px;
    font-size: var(--font-size-normale);
    cursor: pointer;
}

.btn:hover {
    background: white;
    position: relative;
    color: var(--red);
    border: none;
}

.btn2 {
    background: white;
    position: relative;
    color: var(--red);
    text-decoration: none;
    border: none;
    margin: 10px 0;
    padding: 15px;
    font-size: var(--font-size-normale);
    cursor: pointer;
}

.btn2:hover {
    background: var(--red);
    position: relative;
    color: white;
    border: none;
}

.btn3 {
    position: relative;
    color: var(--red);
    text-decoration: none;
    top: 10px;
    font-size: 26px;
}

.btn3:hover {
    color: var(--hover);
}

.btn4 {
    background: var(--red);
    position: relative;
    color: white;
    text-decoration: none;
    border: none;
    margin: 10px 0;
    top: 20px;
    padding: 15px;
    font-size: var(--font-size-normale);
    cursor: pointer;
}

.btn4:hover {
    background: white;
    position: relative;
    color: var(--red);
    border: none;
}

.btn5 {
    background: var(--red);
    position: relative;
    color: white;
    text-decoration: none;
    border: none;
    margin: 10px 0;
    top: 25px;
    padding: 15px 125px;
    border-radius: 10px;
    font-size: var(--font-size-normale);
    cursor: pointer;
}

.btn5:hover {
    background: white;
    position: relative;
    color: var(--red);
    border: none;
}


/*         */
/* BORDERS */
/*         */

.topborder {
    border-bottom: 5px var(--red) solid;
    width: 50px;
}

.bottomborder {
    border-bottom: 5px var(--red) solid;
    width: 50px;
}

/*           */
/* SLIDESHOW */
/*           */
.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
    text-align: center;
    position: relative;
    text-align: center;
}

/* The dots/bullets/indicators */
.dots {
    margin-top: -30px;
    position: absolute;
    left: 49%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: var(--red);
}

.active {
    background-color: var(--red);
    padding: 0 10px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*              */
/* OUR SERVICES */
/*              */
h3 {
    font-size: 35px;
    border-bottom: 5px var(--red) solid;
    display: inline;
}

h2 {
    font-size: 35px;
    border-bottom: 5px var(--red) solid;
    display: inline;
}

h5 {
    font-size: 35px;
}

.services-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services {
    margin: 20px 10px;
    font-size: var(--font-size-normale);
    width: 400px;
    background: var(--second);
    padding: 15px;
}

.services i {
    background: var(--red);
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
    margin: 10px 0;
}

.services h5 {
    font-size: 22px;
    margin: 10px 0;
}

/*           */
/* OUR PLANS */
/*           */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 10px;
}

.banner img {
    width: 430px;
    border-radius: 15px;
    margin: -15px;
    z-index: 999;
}

.banner-box h5 {
    padding: 10px 0;
    font-size: 28px;
}

.banner-box {
    background: var(--second);
    padding: 25px 15px;
    width: 400px;
}

.banner-box p {
    font-size: 25px;
}

.banner-box > button {
    background: none;
    border: none;
    color: var(--red);
    text-decoration: none;
    margin-top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.banner-box span {
    color: var(--red);
}

/*        */
/* FOOTER */
/*        */
.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;
    width: 250px;
}

.footer-col h5 {
    font-size: 22px;
    padding: 10px;
}

.footer-col a {
    font-size: var(--font-size-normale);
    color: var(--hover);
    text-decoration: none;
    padding: 5px 0;
}

.footer-col a:hover {
    color: white;
}

.footer-col p {
    font-size: var(--font-size-normale);
    color: var(--hover)
}

.footer-box2 {
    border-top: 1px white solid;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    font-size: var(--font-size-normale);
}

.pay {
    font-size: var(--font-size-normale);
}

.footer-icons {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

/*                */
/* MINECRAFT PAGE */
/*                */
.text-box {
    color: white;
    width: 480px;
    text-align: left;
}

.text-box h2 {
    font-size: 35px;
}

/*              */
/* PLAN SECTION */
/*              */

.services-plan {
    background: var(--second);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 25px;
}

.plan-banner {
    margin: 50px 0;
}

.plan-banner img {
    height: 200px;
    margin: -65px;
}

.plan-text-box p {
    font-size: var(--font-size-normale);
    margin: 5px;
}

.plan-text-box span {
    color: var(--red);
}

.plan-banner-box {
    background: var(--second);
    padding: 65px 15px;
    width: 400px;
    max-width: 400px;
    margin: 0 10px;
}

.plan-banner-box h5 {
    padding: 10px 0;
    font-size: 28px;
    border-bottom: 1px white solid;
}

.plan-banner-box p {
    margin: 15px 0;
    font-size: 25px;
}

.plan-banner-box span {
    color: var(--red);
}

.plan-banner-box-space {
    border-top: 1px white solid;
}

/*                */
/*                */
/* MOBILE SECTION */
/*                */
/*                */
@media only screen and (max-device-width: 480px) {
    .wrapper {
        text-align: center;
        width: 350px;
        margin: 0 auto;
        color: white;
        flex-wrap: wrap;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .navbarleft {
        display: none;
    }

    .navbarright {
        display: flex;
        flex-wrap: wrap;
    }

    .text-box h2 {
        font-size: 15px;
    }

    .banner-box {
        width: 300px;
    }

    .banner img {
        display: none;
    }

    .panel-box-img {
        display: none;
    }

    .footer-box {
        flex-wrap: wrap;
        width: 400px;
    }
}